$link-color: hsl(245, 34%, 80%);

.container {
  min-height: 100vh;
  background: linear-gradient(62deg, hsl(210, 5%, 10%) 0%, hsl(270, 5%, 10%));
  width: 100%;
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 95%);
}

.inner {
  width: min(840px, 100%);
  margin: 0 auto;
  padding: 6.5rem 1.3rem 0rem 1.3rem;
  box-sizing: border-box;
}

.header {
  margin: 0;
  padding: 0.1em 0;
  font-size: 4.1rem;
}

.description {
  color: hsl(0, 0%, 75%);
  line-height: 1.5em;
  font-size: 1.1rem;
  padding: 0.2em 0;
}

.search {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  padding: 0.5rem;
  box-sizing: border-box;
  outline: 2px solid hsl(180, 100%, 30%);
  color: black;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  margin: 2em 0;
  gap: 1.75em;
}

.project {
  width: 100%;
  height: 425px;
  outline: 2px solid white;
}

.figure {
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.overlay {
  position: absolute;
  bottom: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  backdrop-filter: none;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.link {
  background-color: $link-color;
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  box-sizing: border-box;
  padding: 0.9em 1em;
}

.link:active {
  background-color: darken($link-color, 8%);
}

.demo {
  border-right: 2px solid black;
}

.info-container {
  width: 100%;
}

.info {
  padding: 0 0.7em;
  max-height: 175px;
  overflow-y: auto;
}

.profile-link {
  text-decoration: none;
  // purple color
  color: hsl(280, 70%, 67%);
  font-size: 1.1rem;
  padding: 0.2em 0;
}

@media screen and (min-width: 40em) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .link {
    margin: 0 0.3em;
    border-radius: 0.5em;
    padding: 0.9em 1.2em;
  }

  .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .figure:hover .overlay {
    opacity: 1;
    backdrop-filter: brightness(0.4) blur(5px);
  }

  .demo {
    border-right: none;
  }
}
