.container {
  min-height: 100vh;
  background: linear-gradient(62deg, hsl(210, 5%, 10%) 0%, hsl(270, 5%, 10%));
  width: 100%;
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 95%);
}

.inner {
  width: min(840px, 100%);
  margin: 0 auto;
  padding: 6.5rem 1.3rem 0rem 1.3rem;
  box-sizing: border-box;
}

.header {
  margin: 0;
  padding: 0.1em 0;
  font-size: 4.1rem;
}

.description {
  color: hsl(0, 0%, 75%);
  line-height: 1.5em;
  font-size: 1.1rem;
  padding: 0.2em 0;
}

.search {
  width: 50%;
  background-color: hsl(0, 0%, 100%);
  padding: 0.5rem;
  box-sizing: border-box;
  outline: 2px solid hsl(180, 100%, 30%);
  color: black;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  margin: 2em 0;
  gap: 1.75em;
}

.project {
  width: 100%;
  height: 420px;
  outline: 2px solid white;
}

.image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
}

.info-container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  padding: 0 0.7em;
}

@media screen and (min-width: 40em) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
